@font-face {
    font-family: "VCR"; /*a name to be used later*/
    src: url("../fonts/VCR_OSD_MONO_1.001.ttf"); /*URL to font*/
}

body {
    position: relative;
    padding: 0;
    padding-bottom: 120px; /* make room for the footer */
    background: #eeeeee;
    font-family: "Arial";
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    white-space: nowrap;
}

span {
    padding: 2%;
    float: left;
    width: 25%;
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    height: 200px;
    width: 200px;
}

#vendor {
    font-family: "Arial";
    font-size: 14px;
}

/* Global */
.container {
    width: 90%;
    margin: auto;
}

/* Header */
header {
    background: #ffffff;
    color: #000000;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #b19cd9 5px solid;
}

header #logo h1{
    font-family: "VCR";
    color: #b19cd9;
    margin: 0;
}

/* Footer */
footer {
    position:absolute;
    left:0px;
    bottom:0px;
    width:100%;
    background: #c4f1ff;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    min-height: 40px;
    border-top: #b19cd9 5px solid;
}